@media screen and (max-width: 480px) {
  #intro {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.2)),
      repeating-linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.1) 1px,
        rgba(255, 255, 255, 0) 1px,
        rgba(255, 255, 255, 0) 80px
      );

    main {
      align-items: flex-start;
      padding-top: 50px;

      span {
        font-size: 24px;
      }
      h1 {
        font-size: 88px;
      }

      img {
        width: 350px;
        margin-top: 35%;
        margin-left: -75%;
      }
    }
  }

  #tech {
    .item {
      .prog-bar {
        width: 85%;
        height: 10px;
      }
    }
  }

  #github {
    .item {
      margin-bottom: 16px;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  #intro {
    main {
      align-items: flex-start;
      margin-top: 100px;

      span {
        font-size: 36px;
      }
      h1 {
        font-size: 120px;
      }

      img {
        margin-left: -35%;
      }
    }
  }

  #github {
    .item {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #github {
    .item {
      margin-bottom: 30px;
      .name {
        font-size: 16px;
      }
    }
  }
}
