@import "~bootstrap";
$primary: #ffc400;
$gradient: linear-gradient(to right, #ffc400, #e04700);

html,
body {
  background: #060606;
  color: #bcbcbc;
  font-family: "Lora", serif;
  font-weight: 400;
}

.tag {
  font-size: 36px;
  color: #242424;
  margin-bottom: 30px;

  &::before {
    content: "<";
  }

  &::after {
    content: ">";
  }

  &.closing {
    margin-top: 30px;
    margin-bottom: 0;

    &::before {
      content: "</";
    }
  }
}

section {
  padding: 50px 0px;
}

#about {
  p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    margin: 0;
  }
}

#tech {
  img {
    width: 36px;
  }
  h4 {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 20px;
    font-size: 20px;
  }

  .item {
    margin-bottom: 16px;
    > div {
      display: flex;
      align-items: center;
    }
    div:nth-of-type(2) {
      justify-content: space-between;
    }
    .prog-bar {
      position: relative;
      width: 92%;
      height: 13px;
      border: 1px solid rgb(39, 39, 39);
      border-radius: 50px;
      overflow: hidden;

      &::after {
        content: attr(data-value);
        position: absolute;
        right: -50px;
        top: -5px;
      }

      .prog {
        background: $primary;
        background-image: $gradient;
        height: 100%;
      }
    }
  }
}

#github {
  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: none;
      .item {
        transform: scale(1.02);
      }
    }
  }
  .item {
    background: #191919;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease;
    min-height: 180px;

    .name {
      font-size: 20px;
      color: $primary;
      letter-spacing: 2px;
    }
    p {
      font-size: 10pt;
      letter-spacing: 1px;
      margin-top: 5px;
      flex: 1;
    }

    .footer {
      display: flex;
      justify-content: space-between;

      img {
        width: 30px;
        clip-path: circle();
      }

      .lang {
        color: $primary;
      }
    }
  }
}

#contact {
  a {
    display: block;
    color: $primary;
    font-size: 20px;
  }
  .button {
    text-align: center;
    padding: 5px 30px;
    border-radius: 70px;
    display: inline-block;
    background: $primary;
    background-image: $gradient;
    color: #242424;
    font-size: 20px;
    margin-top: 30px;
    transition: all 0.3s ease;

    &:hover {
      text-decoration: none;
      transform: scale(1.03);
    }
  }
}

.copy {
  color: #707070;
  font-size: 10pt;
}
